<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="A quick reference for upcoming and past WRC events in the current calendar year. Find the next rally. Keep the winner of the last one a surprise.">
  <title>WRC Calendar Without Spoilers</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans:wght@700&family=Roboto&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
  <script defer
          src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"
          integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI="
          crossorigin="anonymous">
  </script>
  <script defer src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id='vue-scope'>
    <header id='title'>
      <h1 id='primary-title'>WRC</h1>
      <h2 id='secondary-title'>
        World Rally Championship<br>
        <span v-cloak>{{year}} Calendar</span>
      </h2>
    </header>
    <br>
    <main class="horizontal-center" v-cloak>
      <table id="event-table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Dates</th>
          </tr>
        </thead>
        <tbody v-if="state === 'uninitialized'">
          <tr>
            <td>Loading...</td>
            <td>Loading...</td>
          </tr>
        </tbody>
        <tbody v-else-if="state === 'bad_response'">
          <tr>
            <td>Data unavailable</td>
            <td>Please try again later</td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr
            v-for="event in events"
            v-bind:class="{
              past: event.status === 'past',
              active: event.status === 'active',
              next: event.status === 'next'}"
          >
            <td v-if="event.eventInfo === 'undefined'">{{event.name}} </td>
            <td v-else><a v-bind:href=`${event.eventInfo}`>{{event.name}}</a></td>
            <td>{{event.startDate}} - {{event.endDate}}</td>
          </tr>
        </tbody>
      </table>
    </main>
    <section id=tag-line>
      <p>
        Find the next rally<br>
        Keep the winner of the last one a surprise
      </p>
    </section>
    <div style="flex-grow:1"></div>
    <footer>
      See a problem?</br>
      <a href="https://github.com/ckartchner/rallycalendar">Raise an issue, or fix the code.</a>
    </footer>
  </div>
</body>
</html>